<nz-card style="width: 100%;" [nzTitle]="titleTemplate" [nzExtra]="">
    <nz-card-tab>
        <nz-tabset [nzCentered]="true" nzSize="large" [(nzSelectedIndex)]="indexTab">
            <nz-tab nzTitle="Інфо"></nz-tab>
            <nz-tab nzTitle="Рендеринг"></nz-tab>
            <nz-tab nzTitle="Налаштування" *ngIf="myUserId === project?.userId"></nz-tab>
        </nz-tabset>
    </nz-card-tab>
    <div *ngIf="indexTab === 0 && project">
        <app-project-item-info [project]="project" [myUserId]="myUserId"></app-project-item-info>
    </div>
    <div *ngIf="indexTab === 1 && project">
        <app-project-item-render [project]="project" [myUserId]="myUserId"></app-project-item-render>
    </div>
    <div *ngIf="indexTab === 2 && project">
        <app-project-item-setting (onChanged)="onUpdateProject($event)" [project]="project" [myUserId]="myUserId">
        </app-project-item-setting>
    </div>
</nz-card>
<ng-template #titleTemplate>
    <span style="cursor: pointer; font-size: 20px;" [routerLink]="['..']" nz-icon nzType="left"
        nzTheme="outline"></span>
    <span style="margin-left: 10px; font-size: 20px;">{{project?.name || ''}}</span>
</ng-template>