<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
                <img src="https://i.imgur.com/Phznqze.png" alt="logo">
                <h1>Free Blender</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nzMatchRouter [routerLink]="['/', 'projects']">
                <span nz-icon nzType="project"></span>
                <span>Проекти</span>
            </li>
            <li nz-menu-item nzMatchRouter [routerLink]="['/', 'workers']">
                <span nz-icon nzType="apartment"></span>
                <span>Воркери в мережі</span>
            </li>
            <li nz-submenu nzOpen *ngIf="!profileVisible" nzTitle="Профіль" nzIcon="profile">
                <ul>
                    <li nz-menu-item nzMatchRouter [routerLink]="['/', 'profile', 'projects']">
                        <a>Мої проекти</a>
                    </li>
                    <li nz-menu-item nzMatchRouter [routerLink]="['/', 'profile', 'worker']">
                        <a>Мої воркери</a>
                    </li>
                    <li nz-menu-item nzMatchRouter [routerLink]="['/', 'profile', 'info']">
                        <a>Мої дані</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="DOCS" nzIcon="book">
                <ul>
                    <li nz-menu-item nzMatchRouter [routerLink]="['/', 'docs', 'whyfb']">
                        <a routerLink="/welcome">Чому саме FreeBlender?</a>
                    </li>
                    <li nz-menu-item nzMatchRouter [routerLink]="['/', 'docs', 'gettingstarted']">
                        <a>Початок роботи</a>
                    </li>
                    <li nz-menu-item nzMatchRouter [routerLink]="['/', 'docs', 'howbeclient']">
                        <a>Як стати Клієнтом?</a>
                    </li>
                    <li nz-menu-item nzMatchRouter [routerLink]="['/', 'docs', 'howbeworker']">
                        <a>Як стати Воркером?</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header" nz-row nzJustify="space-between">
                <div nz-col>
                    <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                        <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
                    </span>
                </div>
                <a nz-col *ngIf="!profileVisible" [routerLink]="['/', 'profile', 'info']">
                    <nz-avatar nzIcon="user" [nzSize]="35" style="background-color:#87d068;"></nz-avatar>
                    <span nz-typography>
                        <a style="font-size: 16px; padding: 0 20px 0 7px">{{login}}</a>
                    </span>
                </a>
                <div nz-col *ngIf="profileVisible">
                    <ul nz-menu nzMode="horizontal">
                        <li nz-menu-item nzMatchRouter>
                            <a [routerLink]="['/', 'auth', 'authentication']">Увійти</a>
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <a [routerLink]="['/', 'auth', 'registration']">Реєстрація</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nz-header>
        <nz-content>
            <!-- <div class="inner-content"> -->
            <router-outlet></router-outlet>
            <!-- </div> -->
        </nz-content>
        <nz-footer><span style="margin:auto; display:table;"><i>Designed by
                    Vladyslav
                    Bielous</i></span>
        </nz-footer>
    </nz-layout>
</nz-layout>