<nz-card nzTitle="Створення проекту">
    <div nz-row [nzGutter]="[16, 16]">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="18" nzXXl="12">
            <nz-alert nzType="info"
                nzMessage="Збережіть UUID Project Token. Він необхідний для рендерингу за допомогою адона Blender."
                nzShowIcon>
            </nz-alert>
            <br>
            <form nz-form nzLabelAlign="left" class="register-form" [formGroup]="createForm">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="projectName">Назва проекту:</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Будь ласка вкажіть Назву проекту!!">
                        <input nz-input formControlName="name" id="projectName" />
                    </nz-form-control>
                </nz-form-item><br>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">Опис проекту:</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-textarea-count [nzMaxCharacterCount]="2000">
                            <textarea nz-input [nzAutosize]="{ minRows:2, maxRows:6 }" formControlName="description"
                                id="description"></textarea>
                        </nz-textarea-count>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="tags">Теги проекту:</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-select style="width: 100%" nzMode="tags" formControlName="tags" id="tags">
                        </nz-select>
                    </nz-form-control>
                </nz-form-item><br>
                <nz-form-item>
                    <nz-form-label nzTooltipTitle="Please click 'Get captcha'" [nzSm]="6" [nzXs]="24" nzRequired
                        nzFor="uuidToken">UUID Project Token:</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="suffixButton">
                            <input readonly nz-input formControlName="uuidToken" id="uuidToken" />
                        </nz-input-group>
                        <ng-template #suffixButton>
                            <button (click)="generateUUID()" nz-button nzType="default" nzSize="default"
                                nzSearch>Generate</button>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item><br>
                <nz-form-item nz-row class="register-area">
                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                        <button (click)="onButtonCreateClick()" [nzLoading]="isCreateLoading" nz-button
                            nzType="primary">Створити</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
</nz-card>