<nz-card nzTitle="Створення проекту">
    <form nz-form nzLabelAlign="left" class="register-form" [formGroup]="createForm" (ngSubmit)="onButtonCreateClick()">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="projectName">Назва проекту:</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Будь ласка вкажіть Назву проекту!!">
                <input nz-input formControlName="name" id="projectName" />
            </nz-form-control>
        </nz-form-item><br>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">Опис проекту:</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-textarea-count [nzMaxCharacterCount]="2000">
                    <textarea nz-input [nzAutosize]="{ minRows:2, maxRows:6 }" formControlName="description"
                        id="description"></textarea>
                </nz-textarea-count>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="tags">Теги проекту:</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <!-- <input nzMode="tags" nz-input formControlName="tags" id="tags" /> -->
                <nz-select style="width: 100%" nzMode="tags" formControlName="tags" id="tags">

                </nz-select>
            </nz-form-control>
        </nz-form-item><br>

        <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button [nzLoading]="isCreateLoading" nz-button nzType="primary">Створити</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>